{{ header }}{{ column_left }}{{ column_right }}
<div class="container">{{ content_top }}
    <div>
        <h3>{{ heading_address }}</h3>
        <h3>Payment was unsuccessful</h3>        
    </div>
    <div>
        <span>{{ txn_details }}</span>
    </div>


</div>
{{ footer }} 
