<form action="{{ action }}" method="post">
  <input type="hidden" name="MERCHANT_ID" value="{{ MERCHANT_ID }}" />
  <input type="hidden" name="MERCHANT_NAME" value="{{ MERCHANT_NAME }}" />
  
  <input type="hidden" name="TOKEN" value="{{ TOKEN }}" />
  <input type="hidden" name="SUCCESS_URL" value="{{ SUCCESS_URL }}" />
  <input type="hidden" name="FAILURE_URL" value="{{ FAILURE_URL }}" />
  <input type="hidden" name="CHECKOUT_URL" value="{{ CHECKOUT_URL }}" />  
  <input type="hidden" name="CUSTOMER_EMAIL_ADDRESS" value="{{ CUSTOMER_EMAIL_ADDRESS }}" />
  <input type="hidden" name="CUSTOMER_MOBILE_NO" value="{{ CUSTOMER_MOBILE_NUMBER }}" />
  <input type="hidden" name="TXNAMT" value={{ TXNAMT }} />
  <input type="hidden" name="BASKET_ID" value="{{ BASKET_ID }}" />
  <input type="hidden" name="ORDER_DATE" value="{{ ORDER_DATE }}" />
  <input type="hidden" name="SIGNATURE" value="{{ SIGNATURE }}" />
  <input type="hidden" name="VERSION" value="{{ VERSION }}" />
  <input type="hidden" name="TXNDESC" value="{{ TXNDESC }}" />
  <input type="hidden" name="CURRENCY_CODE" value="{{ CURRENCY_CODE }}" />
  <input type="hidden" name="PROCCODE" value=0 />


   <!-- Additional Parameters -->
            
            <INPUT TYPE="HIDDEN" NAME="CUSTOMER_NAME" value="{{ CUSTOMER_NAME }}">
            <INPUT TYPE="HIDDEN" NAME="CUSTOMER_IPADDRESS" value="{{ CUSTOMER_IPADDRESS }}">
            <INPUT TYPE="HIDDEN" NAME="COUNTRY" value="{{ COUNTRY }}">

            <INPUT TYPE="HIDDEN" NAME="SHIPPING_CUSTOMER_NAME" value="{{ SHIPPING_CUSTOMER_NAME }}">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_ADDRESS_1" value="{{ SHIPPING_ADDRESS_1 }}">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_ADDRESS_2" value="{{ SHIPPING_ADDRESS_2 }}">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_ADDRESS_CITY" value="{{ SHIPPING_ADDRESS_CITY }}">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_STATE_PROVINCE" value="{{ SHIPPING_STATE_PROVINCE }}">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_POSTALCODE" value="{{ SHIPPING_POSTALCODE }}">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_METHOD" value="{{ SHIPPING_METHOD }}">
            <INPUT TYPE="HIDDEN" NAME="SHIPPING_COUNTRY" value="{{ SHIPPING_COUNTRY }}">

            <INPUT TYPE="HIDDEN" NAME="BILLING_CUSTOMER_NAME" value="{{ BILLING_CUSTOMER_NAME }}">
            <INPUT TYPE="HIDDEN" NAME="BILLING_ADDRESS_CITY" value="{{ BILLING_ADDRESS_CITY }}">
            <INPUT TYPE="HIDDEN" NAME="BILLING_ADDRESS_1" value="{{ BILLING_ADDRESS_1 }}">
            <INPUT TYPE="HIDDEN" NAME="BILLING_ADDRESS_2" value="{{ BILLING_ADDRESS_2 }}">
            <INPUT TYPE="HIDDEN" NAME="BILLING_STATE_PROVINCE" value="{{ BILLING_STATE_PROVINCE }}">
            <INPUT TYPE="HIDDEN" NAME="BILLING_POSTALCODE" value="{{ BILLING_POSTALCODE }}">
            <INPUT TYPE="HIDDEN" NAME="BILLING_COUNTRY" value="{{ BILLING_COUNTRY }}">

            <INPUT TYPE="HIDDEN" NAME="MERCHANT_USERAGENT" value="{{ MERCHANT_USERAGENT }}">

            {{ CARTITEMS }}

            
         
  
  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
    </div>
  </div>
</form>
